.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 24px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* 640px以上1200px未満ならwidth 600 */
@media (max-width: 1200px) {
  .main {
    width: auto;
    padding: 24px;
  }
}
/* 
@media (max-width: 640px) {
  .main {
    width: auto;
    padding: 24px;
  }
} */

.landing_title {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  letter-spacing: var(--swl-letter_spacing,.2px);
  padding: 0;
  position: relative;
  text-align: center;
  line-height: 1.4;
  margin-top: 2em;
}

.small {
  display: block;
  font-size: .6em;
  padding-top: 0.25em;
  opacity: .8;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  /* padding-inline: 24px; */
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  gap: 24px;
}

.h1 {
  position: relative;
  padding: 0.5rem 0;
  margin-bottom: 0.2rem;
  border-bottom: 5px solid;
  color: black;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 2em;
  width: 100%;
}

.h1:before,
.h1:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  height: 0;
  width: 0;
}

.h1:before {
  border: 16px solid;
  border-color: transparent;
  border-top-color: black;
  margin-left: -16px;
}

.h1:after {
  border: 10px solid;
  border-color: transparent;
  border-top-color: white;
  margin-left: -10px;
}

.center {
  display: flex;
  justify-content: center;
}

.slider_big {
  display: none;
}
.slider_middle {
  display: none;
}
.slider_small {
  display: block;
}

@media (min-width: 640px) {
  .h1 {
    width: 50%;
  }
}

/*画面幅が900px以上かつ1200px未満の時は、2列にする*/
@media (min-width: 640px) and (max-width: 1199px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .slider_big {
    display: none;
  }
  .slider_middle {
    display: block;
  }
  .slider_small {
    display: none;
  }
}

/*画面幅が1200px以上の時は、3列にする*/
@media (min-width: 1200px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .slider_big {
    display: block;
  }
  .slider_middle {
    display: none;
  }
  .slider_small {
    display: none;
  }
}