.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  /* padding-inline: 24px; */
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  gap: 24px;
}

/*画面幅が900px以上かつ1200px未満の時は、2列にする*/
@media (min-width: 640px) and (max-width: 1199px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*画面幅が1200px以上の時は、3列にする*/
@media (min-width: 1200px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}


